<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://asset-a.grid.id/crop/0x67:1080x1437/700x0/photo/2018/10/23/1276875634.png" />
    <ion-card-header>
      <ion-card-title>João Gabriel Ramos Moraes da Silva</ion-card-title>
      <ion-card-subtitle>Aluno de ti</ion-card-subtitle>
      <ion-card-subtitle>Codigo da turma:MOBILE:22102330</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Gostaria de informar que, neste projeto, a foto e o nome da turma são fictícios e não correspondem à realidade. Optei por não divulgar minha foto real por questões de privacidade. Agradeço pela compreensão e espero que isso não afete a experiência ou a qualidade do projeto.
    </ion-card-content>
  </ion-card>

  
</ion-content>
